.background    { background: green;);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: red; }
.wall          { background: white;   }

.actor	{position: absolute;}
.player	{background: white;}
.dead	{background: gold;}
.coin	{background: blue;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
